@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #212931;
    background-color: #1e252d;
    font-family: "Merriweather", Georgia, serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2.375;
}

.center {
    text-align: center;
}

#user-choice-image img,
#computer-choice-image img  {
    width:250px;
}

#choice-button {
    position: absolute;
    justify-content: center;
    display: flex;
}

/* modal */
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    left: 0;
    right: 0;
    top: 30%;
    bottom: 30%;
    margin: auto;
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
  }
  
  button {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }
  
  .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }
  
  .btn-open {
    position: absolute;
    bottom: 150px;
  }
  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
  
  .hidden {
    display: none;
  }


/* Wrapper */

#wrapper {
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* Main */

#main {
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
    width: calc(100% - 4rem);
    max-width: 72rem;
    z-index: 2;
}

/*     #main > * {
        padding: 4rem 4rem 2rem 4rem ;
        margin: 0;
    } */

/*content*/

#main > .post {
padding: 8rem 8rem 6rem 8rem ;
}

@media screen and (max-width: 1280px) {

    #main > .post {
        padding: 6rem 4rem 4rem 4rem ;
    }

}

@media screen and (max-width: 736px) {

    #main > .post {
        padding: 4rem 2rem 2rem 2rem ;
    }

        #main > .post header.major > .date {
            margin-top: -1rem;
            margin-bottom: 2rem;
        }

        #main > .post header.major > h1, #main > .post header.major h2 {
            font-size: 2.5rem;
            line-height: 1.2;
            margin: 0 0 1.5rem 0;
        }

}

#main > .content {
display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-moz-flex-wrap: wrap;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-moz-align-items: -moz-stretch;
-webkit-align-items: -webkit-stretch;
-ms-align-items: -ms-stretch;
align-items: stretch;
text-align: center;
width: 100%;
padding: 0;
}

#main > .content > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
}

#main > .content > * {
    width: 50%;
}

#main > .content > * {
    padding: 4rem;
    width: 50%;
}

#main > .content > article {
    text-align: center;
}



@media screen and (max-width: 980px) {

    #main > .content > * {
        width: 50%;
    }

    #main > .content > * {
        padding: 2.5rem;
        width: 50%;
    }

}

@media screen and (max-width: 736px) {

    #main > .content > * {
        width: 100%;
    }

    #main > .content > * {
        padding: 2rem;
        width: 100%;
    }

}




section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    display: block;

}
	strong, b {
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}

	p {
		text-align: justify;
		margin: 0 0 2rem 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #212931;
	}


	h1 {
		font-size: 4rem;
		line-height: 1.1;
		margin: 0 0 2rem 0;
	}

	h2 {
		font-size: 1.75rem;
		line-height: 1.3;
		margin: 0 0 1.5rem 0;
	}

	h3 {
		font-size: 1.25rem;
		margin: 0 0 1.5rem 0;
	}

	h4 {
		font-size: 1rem;
	}

	h5 {
		font-size: 0.9rem;
	}

	h6 {
		font-size: 0.8rem;
	}

	a {
		color: #212931;
		border-bottom-color: rgba(33, 41, 49, 0.5);
	}

		a:hover {
			border-bottom-color: transparent;
			color: #18bfef !important;
		}




